# System Files
.DS_Store
**/.DS_Store

# Docker
.docker/
docker-compose.override.yml

# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log
logs/
npm-debug.log*

# Build output
dist/
build/
out/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# AWS
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Temporary files
*.tmp
*.temp
.cache/

# System Files
Thumbs.db
